server {
  listen 80;
  server_name ${DEV_ADDRESS};

  location / {
      proxy_set_header HOST $http_host;
      proxy_set_header X-Forwarded-For $remote_addr;
      proxy_pass http://${DEV_HOST}:${DEV_PORT};
  }
}

server {
  listen 80;
  server_name ${TEST_ADDRESS};

  location / {
      proxy_set_header HOST $http_host;
      proxy_set_header X-Forwarded-For $remote_addr;
      proxy_pass http://${TEST_HOST}:${TEST_PORT};
  }
}
